<template>
  <div class="app">
    <router-view></router-view>
  </div>

</template>

<script>

export default {
  name: 'App',

}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #16171B
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
</style>
