<template>
    <div class="main-wrapper">
        <NewHeader/>
        <div class="main-page-side">
            <div class="left-side">
                <NewSidebar @post-selected_for_main="handlePostSelected_"/>
            </div>
            <div class="right-side"
            style="
                    width: 100%;
                    height: 85hv;
                    display: flex;
                    flex-direction: column;
                    ">
                <div id="map" style="
                    width: 100%;
                    height: 100%;">
                </div>

            <PostDetalForMain v-if="selectedPost" :selectedPost="selectedPost" />

            </div>
        </div>
        <div class="footer"></div>
    </div>
</template>

<script>
// import LogoSVG from '../assets/train-svgrepo-com.svg'
import NewHeader from '@/components/NewHeader.vue';
import NewSidebar from '@/components/NewSidebar.vue';
import L from "leaflet";
import "leaflet/dist/leaflet.css";
import axios from 'axios';
export default {
    components : {
        NewHeader,
        NewSidebar,
    },
    data(){
        return {
            map :[],
            posts :[],
            selectedPost: null,

        }
    },
    async mounted(){
        const map = L.map('map').setView([51.505, -0.09], 2)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 25,
            attribution: '<a class="mo" href="https://mil.ru/">Армия России</div>',

        }).addTo(map)
        this.map =  map;
        try {
            const response = await axios.get('admin/info-all-admin',
                {
                    withCredentials: true
                })
            const data = response.data; // Получите данные из ответа
            this.posts = response.data;
        const customIcon = L.icon({
        iconUrl: "http://127.0.0.1:8000/icons/icon.svg", // Укажите путь к вашей иконке
        iconSize: [26, 26], // Размер иконки (ширина, высота) в пикселях
        iconAnchor: [16, 36], // Точка якоря иконки (где именно будет указана координата маркера)
        popupAnchor: [0, -32], // Точка всплывающей подсказки (если она есть)
      });
      // Переберите данные и добавьте метки на карту
      data.forEach((item) => {
        if (item.Latitude !== null && item.Longitude !== null) {
            const marker = L.marker([item.Latitude, item.Longitude],{ icon: customIcon })
            .addTo(map)
            marker.bindPopup(`<img src="${item.photoUrl}" alt="Фото" 
                            style="max-width: 100%;
                            max-height: 200px;
                            display: block;
                            margin: 0 auto;">
                                <div id=p>${item.title}</div>
                                <div id=p>${item.published}</div>
                                `);
            marker.on('click', () => {
                this.openComponent(item.id);
            });
        }
      });
    } 
    catch (error) 
    {
      console.error("Ошибка при выполнении запроса:", error);
    }      
    },
    methods: {
        async handlePostSelected_(post) {
        if (post.Latitude !== null && post.Longitude !== null && this.map) {
            this.map.whenReady(() => {
                this.map.setView([post.Latitude, post.Longitude+0.42], 11);
            });
        }
    },
    async openComponent(itemId) {
    // Ваш код для открытия компонента по ID
    console.log(`Открываю компонент для элемента с ID ${itemId}`);

}
    }
}
</script>
<!--  -->
<style>


.leaflet-bottom leaflet-right{
    background-color: aqua;
}



.leaflet-control-attribution a svg{
    display: none;
    opacity: 0;
}
.mo{
    display: block;

}
.main-page-side{
    display: flex;
    flex-direction: row;
}
.left-side{
    display: flex;
    flex-direction: column;
}
.footer{
    background-color: black;
    color: black;
    height: 4ch;
    /* margin-bottom:0 */
}
.leaflet-popup-content-wrapper{
    background-color: rgb(41, 34, 34);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    border-radius: 10px; 
}
#p{
    color: aliceblue;
}
.leaflet-popup-tip{
    background-color: rgb(41, 34, 34);
    opacity: 0.9;
}
</style>