<template>
    <div>
      <l-map
        :zoom="zoom"
        :center="center"
        style="height: 400px;"
      >
        <l-tile-layer
          :url="offlineTileLayerUrl"
        ></l-tile-layer>
        <l-marker
          v-for="(marker, index) in markers"
          :key="index"
          :lat-lng="marker.latLng"
        ></l-marker>
      </l-map>
    </div>
</template>
  
<script>
export default {
  data() {
    return {
      zoom: 13,
      center: [51.505, -0.09], // Начальные координаты центра карты
      offlineTileLayerUrl: 'путь_к_локальным_картам', // URL локальных тайлов для офлайн-карты
      markers: [
        { latLng: [51.5, -0.09] }, // Пример маркера
        // Добавьте здесь другие маркеры по мере необходимости
      ],
    };
  },
};
</script>

<style>
/* Стилизуйте вашу карту здесь */
</style>