<template>
    <NewHeader/>
    <div class="wrap-new-algin">
        <div class="window-post">
            <div class="main-wrap-photo">
                <div class="photo-mil">
                <!-- Добавьте блок для предварительного просмотра изображения -->
                <div v-if="previewImage" class="photo-mil">
                    <img :src="previewImage" alt="Preview" class="prev-photo-mil"/>
                </div>
                <label class="label-to-upload">
                  <input type="file" id="file" ref="file" v-on:change="handleFileUpload()" />
                </label>
            </div>
                <div class="data-mil">
                    <div class="title-mil">
                        Количество ВВСТ
                    </div>
                    <div v-for="(count, vehicle) in this.info_vvst" :key="vehicle" class="name-mil">
                        {{ vehicle }}:{{ count }}
                    </div>
                </div>
            </div>
            <div class="wrap-text">
                <input type="text" class="text" v-model="this.title" placeholder="Текст новости">

            </div>
            <div class="suplu-info">
                <div class="wrap-coords">
                    <button class="geo-pick" @click="toggleMapModal" >Задать координаты</button>

                    <input class="coords" placeholder="Latitude: 54.23" v-model="this.Latitude">
                    <input class="coords" placeholder="Longitude: 60.23" v-model="this.Longitude">
                </div>
                <div class="wrap-source-date">
                    <div class="left-source-data">
                        <div class="icon-source">
                            <img :src="this.sourceIcon" alt="" class="svg">
                        </div>
                        <select class="source">
                            <option v-for="sorce in sourceOptions" :key="sorce" :value="source">{{ sorce }}</option>
                        </select>                
            </div>
                    <div class="date">{{this.date}}</div>
                </div>
            </div>
            <div class="crud-wrap">
                <div class="button-edit" 
                    @click="AddPost">
                        Добавить новость
                </div>
            </div>
        </div>
    </div>

    <div class="map-container" v-show="showMapModal">
      <div id="map_" style="height: 400px; width: 300px;"></div>
      <button @click="closeMapModal">Закрыть</button>
    </div>
</template>

<script>
import NewHeader from '@/components/NewHeader.vue';
import L from "leaflet";
import axios from 'axios';
export default{
    components:{
        NewHeader
    },
    data(){
        return{
            file: '',
            info_vvst: {
                    'Танки':0,
                    'БМП':0,
                    'Грузовики': 0,
            },
            Latitude: '',
            Longitude: '',
            title: '',
            sourceOptions: ['Reddit', 'VK', 'Telegramm'], 
            previewImage: null,
            date: new Date().toLocaleDateString(undefined, { year:"numeric", month:"short", day:"numeric"}),
            showMapModal: false,
            map_: null,
        }
    },
    mounted() {
  // Вызываем initMap только после того, как компонент был добавлен в DOM
        this.initMap();
    },
    methods:{
      async AddPost() {
      let axiosConfig = {
        withCredentials: true,
        headers: {
          'Content-Type': 'multipart/form-data',
          'Accept': '*/*'
        }
      };

  const formData = new FormData();
  formData.append('title', this.title);
  formData.append('sorce', 'Reddit');
  formData.append('Latitude', this.Latitude);
  formData.append('Longitude', this.Longitude);
  // formData.append('info_vvst', this.info_vvst);
  formData.append('photo', this.$refs.file.files[0]);  // Правильно добавляем файл

  try {
    const response = await axios.post('/admin/addPost', formData, axiosConfig);
    console.log(response.data);
  } catch (error) {
    console.error('Ошибка при отправке поста', error);
  }
},
    initMap() {
      try {
        this.map_ = L.map("map_").setView([54.23, 60.23], 6);
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
          attribution: "© OpenStreetMap contributors",
        }).addTo(this.map_);
        this.map_.on("click", this.onMapClick);
      } catch (error) {
        console.error('Ошибка при инициализации карты:', error);
      }
    },

    onMapClick(e) {
      const { lat, lng } = e.latlng;
      this.Latitude = lat;
      this.Longitude = lng;
      const customIcon_litle = L.icon({
        iconUrl: "http://127.0.0.1:8000/icons/icon.svg", // Укажите путь к вашей иконке
        iconSize: [36, 36], // Размер иконки (ширина, высота) в пикселях
        iconAnchor: [16, 36], // Точка якоря иконки (где именно будет указана координата маркера)
      })
      // L.marker([item.Latitude, item.Longitude],{ icon: customIcon })
      //       .addTo(map)
      L.marker([ lat, lng],{ icon: customIcon_litle }).addTo(this.map_)
      console.log(lat,lng)
    },

    closeMapModal() {

      if (this.map_) {
        this.map_.remove();
        this.map_ = null;
      }
      this.showMapModal = false;

    },
    toggleMapModal() {
    try {
      this.showMapModal = !this.showMapModal;
      if (this.showMapModal) {
        this.initMap();
      }
    } catch (error) {
      console.error('Ошибка при открытии карты:', error);
    }
  },
  async handleFileUpload() {
      try{
          this.file = this.$refs.file.files[0];
          const reader = new FileReader();
          reader.onload = (event) => {
          this.previewImage = event.target.result;
          };
          reader.readAsDataURL(this.file);
          }
      catch{
          console.log('Ошибка')
          }
  },
    },
    created() {
        this.intervalId = setInterval(() => this.date = Date.now(), 1000000); // Обновляем значения не чаще раза в секунду. А то и реже.
    }
  }
</script>


<style scoped>


.map-container {
  position: fixed;
  top: 65%;
  left: 90%;
  transform: translate(-100%, -100%);
  z-index: 1000;
  background-color: rgb(102, 100, 100);
  padding: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  opacity: 0.75;
}

.wrap-new-algin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.prev-photo-mil{
    width: 100%;
    height: 100%;
    border-radius: 15px;

}

.label-to-upload{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
}
.window-this {
  background: #333; /* Темный фон */
  border-radius: 5px;
  padding: 20px; /* Добавьте отступы вокруг содержимого */
  width: 60%;

}
.title-mil {
  font-size: 24px;
  color: white; /* Цвет текста белый */
}
.wrap-text{
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 32px;
}
.text {
  font-size: 24px;
  color: white; /* Цвет текста белый */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.vvst-counts{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.name-mil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.input-mil{
    width: 10%;
}
.coords,
.source,
.date {
  font-size: 18px; /* Уменьшите размер шрифта */
  color: rgb(49, 26, 26); /* Цвет текста белый */
}

.svg {
  width: 24px;
  height: 24px;
  fill: white; /* Заливка иконки белая */
}
.button-edit {
  font-size: 18px;
  background-color: #ff9900; /* Цвет фона кнопки */
  color: #0e0d0d; /* Цвет текста кнопки */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Плавное изменение цвета фона */
}
.input-mil{
    background: #e68a00;
}
.text-eddit{
    color: rgb(0, 0, 0);
    font-size: 24px;
    width: 100%;
    /* color: white; */
}
.text{
    color: #0e0d0d;
}
.button-edit:hover {
  background-color: #e68a00; /* Цвет фона при наведении */
  color: white; /* Цвет текста при наведении */
}

</style>