<template>
    <NewHeader/>
    <div class="panel-admin">
        <div class="wrap">
            <div class="header-panel-admin-wrap">
                <div class="header-panel-admin">
                    Все новости 
                </div>
            </div>
            <div class="filter-wrap">
                <div class="input-filter">
                    <input type=""
                    class="query_q"
                    placeholder="Ключевые слова"
                    v-model="search"
                    >
                </div>
                <div class="calendar-for-res-all">
                    <FromCalendar @selected-date-range="handleSelectedDateRange_in_all_data" />
                </div>
            </div>
            <div class="main-container">
                    <div class="list-results" >
                        <div class="one-res" v-for="post in filteredPosts" :key="post.id">
                            <PostVue
                                :post="post"
                                @post-selected="handlePostSelected"
                                :selectedPostId="selectedPost ? selectedPost.id : null"
                                @click="showPostDetail(post)"
                                >
                            </PostVue>
                        </div>
                    </div>
                    <PostDetail v-if="showDetail" :post="selectedPost" @delete-post="deletePost" />
            </div>
        </div>
    </div>
</template>

<script>
import NewHeader from '@/components/NewHeader.vue';
import PostVue from '@/components/PostVue.vue';
import PostDetail from '@/components/PostDetail.vue';
import FromCalendar from '@/components/FromCalendar.vue';

import axios from 'axios';

export default{
    components:{
        FromCalendar,
        NewHeader, 
        PostVue,
        PostDetail,
    },

    data(){
        return {
            search: '',
            posts:[
                
            ],
            showDetail: false, 
            selectedPost: null,
            selectedDateRange: null,
            }
        },
        methods :{
        async showPostDetail(post){
            this.showDetail = true;
            this.selectedPost = post;
        },
        deletePost(postId) {
        const postIndex = this.posts.findIndex((post) => post.id === postId);

        if (postIndex !== -1) {
            this.posts.splice(postIndex, 1);
            this.selectedPost = null;
            this.showDetail = false;
      }
    },
        async toggleSelection() {
            this.isSelected = !this.isSelected;
    },
        handleSelectedDateRange_in_all_data(dateRange) {
          this.selectedDateRange = dateRange;
          console.log(dateRange);
        },
        isPostWithinDateRange(post) {
          if (!this.selectedDateRange || this.selectedDateRange.length !== 2) {
            return true; 
          }

          const [time_start, time_end] = this.selectedDateRange;

          const postPublishedDate = new Date(post.published);
          const startDate = new Date(time_start);
          const endDate = new Date(time_end);

          console.log(postPublishedDate > startDate && postPublishedDate < endDate);

          return postPublishedDate > startDate && postPublishedDate < endDate;
        },

        handlePostSelected(post) {
            console.log('Обработчик события post-selected в NewSidebar:', post);
            this.selectedPost = post;
            this.$emit('post-selected_for_main', this.selectedPost);

        },
  },
    computed: {
            filteredPosts() {
            const filtered = 
                this.posts.map((post) => {
                const titleIncludesSearch = post.title.toLowerCase().includes(this.search.toLowerCase());
                const isWithinRange = this.isPostWithinDateRange(post);
                return isWithinRange && titleIncludesSearch ? post : null;
                })
            ;

            console.log('Filtered posts:', filtered);
            return filtered.filter((post) => post !== null);
            },
        },
    // 
    async mounted(){
        try{
            await axios.get('admin/info-all-admin',
            {
                withCredentials: true
            }).then(response =>{
                this.posts = response.data
            })
        }
        catch{
            this.$router.push({ name: 'admin' })
        }       
    },
}
</script>

<style scoped>
.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.panel-admin{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    background: #16171B;

}
.header-panel-admin{
    border-radius: 5px;
    margin-top: 50px;
    color: #FFF;
    padding: 32px 282px 32px 231px;
    align-items: center;
    background: #55565a;
    color: #FFF;
    text-align: center;
    font-family: 'Abhaya Libre';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width:432px;
}
.filter-wrap{
    background: #55565a;
    width: 100%;
    height: 81px;
    display: flex;
    flex-direction: row;
    gap: 160px;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}
/*  */
.lupa{
    display: flex;
    height: 37px;
    padding: 4px 172px 3.134px 13px;
    align-items: center;
    gap: 17.134px;
    border-radius: 5px;
    background: #FFF;
    color: #000;
    text-align: center;
    font-family: Abhaya Libre;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.list-results{
    display: flex;
    flex-direction: column;
    height: 580px;
    padding: 5px;
    min-width: 20%;
    background-color: #16171B;
}
.input-filter{
    display: flex;
    height: 37px;
    align-items: center;
    margin-left: 12px;
}
.query_q{
    height: 37px;

}
.dp__pointer{
    height: 100px;

}
.one-res{
    background-color: #55565a;
    width: 0%;
}
</style>