<template>
<NewHeader/>
<div class="wrap-new-algin">

    <div class="window-post" v-if="edditPost">
        
        <div class="main-wrap-photo">
            <div class="photo">
                <img :src="edditPost.photoUrl" alt="Фото" class="photo-mil">
            </div>
            <div class="data-mil">
                <div class="title-mil">
                Количество ВВСТ
                </div>
                <div class="vvst-counts">
                    <div v-for="(count, vehicle) in edditPost.info_vvst" :key="vehicle" class="name-mil">
                        {{ vehicle }}:
                        <span v-if="!isEditing">{{ count }}</span>
                        <input class='input-mil' v-else v-model="edditPost.info_vvst[vehicle]" />
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap-text">
            <div class="text">
                <span v-if="!isEditing">{{ edditPost.title }}</span>
                <input v-else v-model="editedTitle" class="text-eddit">
            </div>
        </div>
        <div class="suplu-info">
            <div class="wrap-coords">
            <div class="coords">{{   edditPost.Latitude }}</div>
            <div class="coords">{{   edditPost.Longitude }}</div>
            </div>
            <div class="wrap-source-date">
                <div class="left-source-data">
                    <div class="icon-source">
                    <img :src="edditPost.sourceIcon" alt="" class="svg">
                </div>
                <div class="source">
                    {{ edditPost.source }}
                </div>
            </div>
                <div class="date">
                    {{ edditPost.published }}
                </div>
            </div>
        </div>
        <div class="crud-wrap">
            <div class="button-edit" @click="toggleEdit">
                {{ isEditing ? "Отменить изменения" : "Редактировать" }}
            </div>
            <div class="button-edit" 
                @click="UpdatePostAdmin"
                v-if = isEditing>
                "Сохранить изменения"
            </div>
            <div class="button-edit"
            @click = "DeletePost">
                Удалить
            </div>
        </div>
    </div>
</div>

</template>

<script>
import axios from 'axios';
import NewHeader from '@/components/NewHeader.vue';
export default {
    components:{
        NewHeader
    },

    data(){
        return{
            edditPost:{
                source: '',
                title: '',
                published: '',
                Latitude: '',
                Longitude: '',
                sourceIcon: '',
                photoUrl: '',
                info_vvst: {
                        танки: 0,
                        бмп: 0,
                        грузовики: 0,
                        },
                editedTitle:'',
            },
            isEditing: false,        
            editedLatitude: '', 
            editedLongitude: '',
            editedTitle:'',

        }

    },

    methods: {
    async updatePost() {
      try {
        // Получите параметр postId из маршрута

        const id = this.$route.params.id;
        // Выполните запрос к API серверу для получения информации о посте по postId
        axios.get(`/admin/GetEditPost/${id}`
                        ,{
                            withCredentials: true
                        }).then(
                            response =>{
                                this.edditPost = response.data;
                                this.editedTitle = this.edditPost.title;
                                this.editedLatitude = this.edditPost.Latitude;
                                this.editedLongitude = this.edditPost.Longitude;
                            }
                        )
      } catch (error) {
        console.error('Ошибка при загрузке данных поста:', error);
      }
    },
    async toggleEdit() {
      // Переключение режима редактирования
      this.isEditing = !this.isEditing;
    },
    async UpdatePostAdmin(){
        try{
            const requestData = {
                id_post:this.$route.params.id,
                title:this.editedTitle,
                info_vvst:this.edditPost.info_vvst,
                Latitude:this.editedLatitude,
                Longitude:this.editedLongitude,
            }
            await axios.put(`/admin/GetEditPost/${this.$route.params.id}`,
            requestData,
            {
                withCredentials: true
            }
            ).then(response =>{
                console.log(response.data)
                this.isEditing = !this.isEditing;
            })
            console.log(`${this.$route.params.id}`)

        }
        catch{
            console.log('Ошибка')
        }
    },
    async DeletePost(){
        try{
            await axios.delete(
                `admin/DeletePost/${this.$route.params.id}`,
                {
                withCredentials: true
                }
            ).then(response =>{
                console.log(response.data)

            })
        }
            catch{
                console.log('Ошибка')
            }
        }   
    },
    async created(){
    this.updatePost();
  }

  
}
</script>

<style scoped>
.wrap-new-algin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.window-post {
  background: #333; /* Темный фон */
  border-radius: 5px;
  padding: 20px; /* Добавьте отступы вокруг содержимого */
  width: 60%;

}
.title-mil {
  font-size: 24px;
  color: white; /* Цвет текста белый */
}
.wrap-text{
    display: flex;
    justify-content: center;
    align-items: stretch;

}
.text {
  font-size: 24px;
  color: white; /* Цвет текста белый */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.vvst-counts{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.name-mil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.input-mil{
    width: 10%;
}
.coords,
.source,
.date {
  font-size: 18px; /* Уменьшите размер шрифта */
  color: white; /* Цвет текста белый */
}

.svg {
  width: 24px;
  height: 24px;
  fill: white; /* Заливка иконки белая */
}
.button-edit {
  font-size: 18px;
  background-color: #ff9900; /* Цвет фона кнопки */
  color: #0e0d0d; /* Цвет текста кнопки */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Плавное изменение цвета фона */
}
.input-mil{
    background: #e68a00;
}
.text-eddit{
    color: rgb(0, 0, 0);
    font-size: 24px;
    width: 100%;
    /* color: white; */
}
.button-edit:hover {
  background-color: #e68a00; /* Цвет фона при наведении */
  color: white; /* Цвет текста при наведении */
}
</style>