<template>
<div class="siginpage">
    <form class='form-sigin' @submit.prevent="handlerSubmit">
        <div class="table-sigin">
            <div class="logo-wrap">
                <img 
                src="@/assets/academ.svg"
                alt="" 
                class="logo">
            </div>
            <div class="else">
                <hr color="#3F3F46" width=40%  height= "1px" >
                Администратор
                <hr color="#3F3F46" width=40%  height= "1px"  >
                </div>
            <div class="table-user-reg">
                <div class="row-input_top">
                    <input  type="text" class="user-input"   v-model="user_data.username " placeholder="Почта">
                </div>
                <div class="row-input_button">
                    <input  type="password" class="user-input"  v-model="user_data.password " placeholder="Пароль">
                </div>
                
            </div>
            <div class="last-wrap">
                <div class="button-res">
                    <button class="b-res" type="submit">Войти</button>
                </div>
            </div>
        </div>
    </form>
</div>

</template>

<script>
import axios from 'axios';

export default{


    data(){
        return{
            user_data:{
                username:'',
                password:'',
            }
        }
    }, 
    methods:{
        
        async handlerSubmit(){
            let axiosConfig = {
                withCredentials: true,
                headers: {
                    'Accept': '*/*'}
                }
            const params = new URLSearchParams()
            params.append('username', this.user_data.username,);
            params.append('password', this.user_data.password);
            const response = await axios.post('/lk/login',params,
                axiosConfig)
                console.log(params)
                console.log(response)
            this.$router.push({ name: 'db-result' })
    }
    }
}

</script>


<style scoped>
.siginpage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.table-sigin{
    background-color: #222327;
    justify-content: space-evenly;
    justify-items: baseline;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 0.5rem!important;
    padding: 40px;
    width: 411px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.logo-wrap{
    display: flex;
    justify-content: center;
}
.logo{
    height: 125px;
    width: 125px;
}
.reg-Oauth{
    display: flex;
    flex-direction: column;
    align-items: stretch;

}
.form-sigin{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.Ouath{
    border-radius: 5px;
    border: 1px solid #3F3F46;
    background: #27272A;
    color: #D4D4D8;
    font-size: 14px;
    height: 40px
}
.else{
    display: flex;
    flex-direction: row;
    margin-top: 4.2%;
    justify-content: center;
    color: #5F5F66;
    text-align: center;
    font-family: IBM Plex Serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: flex-start;
    gap: 10px;

}

.table-user-reg{
    margin-top: 20px;
    display: flex;
    align-items: stretch;
    flex-direction: column;

}



.user-input{
    
    /* border-radius: 5px 5px 0px 0px; */
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #3F3F46;
    background: #27272A;
    color: #D4D4D8;
    font-size: 14px;
    height: 40px;
    margin-bottom: 4.2%;
    text-align: center;
        
}
.button-res{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.b-res{
    display: flex;
    width: 100%;
    height: 60px;
    color: #fafafa;
    border-radius: 5px;
    background: #BB432C;
    border: 2px solid #b43f11;
    background-color: #bb432c;
    border-radius: 5px;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    font-family: Yandex Sans Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 11px 83px 11px 84px;
}
.b-res:hover{
    background: #ff9900; /* Измените цвет фона на ваш выбор */
    color: #0e0d0d; /* Измените цвет текста на ваш выбор */

}
.last-wrap{
    display: flex;
    flex-direction: column;
}
.else-no-acc{
    display: flex;
    flex-direction: row;
}
.text-last{
    color: #C0C0C0;
    text-decoration-line: underline;
    color: #C0C0C0;

}
.else-no-acc{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    color: #C0C0C0;
}
.div-text_last{
    margin-left: 5px;
}
</style>