<template>
    <NewHeader/>
    <div class="panel-admin">
        <div class="wrap">
            <div class="header-panel-admin-wrap">
                <div class="header-panel-admin">
                    Панель администратора 
                </div>
            </div>
            <div class="state-db">
                <div class="all-db">Всего в базе данных: {{postCount}} новостей </div>
                <div class="all-db">Источников информации: {{sourceCount}} </div>
            </div>
            <div class="column-activites">
                <div class="activites" @click="this.$router.push({ name: 'all-post' })" >
                    <div class="text-activites">
                        Все новости
                    </div>
                </div>
                <div class="activites" @click="this.$router.push({ name: 'suggested' })">
                  <div class="suggest-news">
                        {{suggest_count}}
                  </div>
                  <div class="text-activites">
                        Предложенные
                    </div>

                </div>
                <div class="activites" @click="this.$router.push({ name: 'add-post' })">
                    <div class="text-activites">
                        Добавить новость
                    </div>
                </div>
                <div class="activites" @click="this.$router.push({ name: 'statistics' })">
                    <div class="text-activites">
                        Посмотреть статистику 
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// import NewHeader from '@/components/NewHeader.vue';
import axios from 'axios';

export default {
  data() {
    return {
      postCount: 0,
      sourceCount: 0,
      suggest_count: 0
    };
  },
  async mounted() {
    this.fetchInfoDb();
  },
  methods: {
    async fetchInfoDb() {
      try {
        const response = await axios.get("admin/info-db", {
          withCredentials: true,
        });
        const data = response.data[0]

        if (data) {
          this.postCount = data.post_count;
          this.sourceCount = data.source_count;
          this.suggest_count = data.suggest_count;

        }
      } catch (error) {
        console.error("Ошибка при получении данных из API:", error);
      }
    },
  },
};
</script>



<style scoped>
.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.panel-admin{
    /* background: #222327; */
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;

}
.header-panel-admin{
    border-radius: 5px;
    margin-top: 50px;
    color: #FFF;
    display: inline-flex;
    padding: 32px 282px 32px 231px;
    align-items: center;
    background: #222327;
    color: #FFF;
    text-align: center;
    font-family: 'Abhaya Libre';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width:432px;
}
.state-db{
    color: #FFF;
    display: flex;
    flex-direction: row;
    gap: 120px;

}
.all-db{
    margin-top: 20px;
    display: inline-flex;
    height: 29px;
    padding: 5px 20px 5px 20px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background: #222327;
}
.column-activites{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.suggest-news{
  height: 40px;
  width: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  position: relative;
  background: rgb(255,194,63);
  background: radial-gradient(circle, rgb(0, 4, 249) 25%, #494b51 75%);
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
  justify-content: center;
  font-size: 22px;
}
.activites{
    display: inline-flex;
    height: 112px;
    padding: 39px 400px 38px 52px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background: #222327;
    transition: background 0.3s ease, color 0.3s ease;
    gap: 15px
}
.activites:hover {
  background: #ff9900; /* Измените цвет фона на ваш выбор */
  color: #0e0d0d; /* Измените цвет текста на ваш выбор */
}
.activites:active {
  background: #ff0000; /* Измените цвет фона на ваш выбор */
}
.text-activites{
    color: #FFF;
    font-family: Abhaya Libre;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 493px;
}
</style>