<template>
    <div class="wrapper-statistic">
        <div class="header-panel-admin-wrap">
                <div class="header-panel-admin">
                    Статистика 
                </div>
        </div>

        <div class="column-contekst">
            <iframe src="http://95.140.146.208:3000/d/edilnrusuuarkf/new-dashboard?orgId=1&from=1712982661991&to=1713004261991" width="100%" height="800px" frameborder="0"></iframe>
        </div>
    </div>
</template>


<script>

</script>


<style scoped>


.column-contekst{
    display: flex;
    height: 100%;
    width: 80%;
    
}
.text{
    color: var(--black-100, #1C1C1C);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    
}

.wrapper-statistic{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.header-panel-admin{
    border-radius: 5px;
    margin-top: 50px;
    color: #FFF;
    /* display: inline-flex; */
    /* padding: 32px 282px 32px 231px; */
    align-items: center;
    background: #55565a;
    color: #FFF;
    text-align: center;
    font-family: 'Abhaya Libre';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width:432px;
}

</style>