<template>
    <NewHeader/>
    <div class="panel-admin">
    <div class="wrap">
      <div class="header-panel-admin-wrap">
        <div class="header-panel-admin">
          Предложенные новости  
        </div>
        <div class="button-sour">
          <div class="source">
            <div class="source_" v-for="(count, source) in data_count" :key="source">
              <div class="number-sugge">{{ count }}</div>
              <div class="word-sugge">
                {{ source }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-container">
        <div class="list-results">
          <div class="one-res" v-for="post in filteredPosts" :key="post.id">
            <PostVue
              :post="post"
              @post-selected="handlePostSelected"
              :selectedPostId="selectedPost ? selectedPost.id : null"
              @click="showPostDetail(post)"
            >
            </PostVue>
          </div>
        </div>
        <PostSuggest v-if="showDetail" :post="selectedPost" @delete-post="deletePost" />
      </div>
    </div>
  </div>
</template>

<script>
import NewHeader from '@/components/NewHeader.vue';
import PostVue from '@/components/PostVue.vue';
import PostSuggest from '@/components/PostSuggest.vue';

import axios from 'axios';

export default {
  components: {
    NewHeader, 
    PostVue,
    PostSuggest,
  },

  data() {
    return {
      search: '',
      posts: [],
      data_count: [],
      showDetail: false, 
      selectedPost: null,
      selectedDateRange: null,
    }
  },

  methods: {
    async showPostDetail(post) {
      this.showDetail = true;
      this.selectedPost = { ...post }; // Создание нового объекта с помощью spread оператора
    },

    deletePost(postId) {
      const postIndex = this.posts.findIndex((post) => post.id === postId);

      if (postIndex !== -1) {
        this.posts.splice(postIndex, 1);
        this.selectedPost = null;
        this.showDetail = false;
      }
    },

    async toggleSelection() {
      this.isSelected = !this.isSelected;
    },

    handleSelectedDateRange_in_all_data(dateRange) {
      this.selectedDateRange = dateRange;
      console.log(dateRange);
    },

    isPostWithinDateRange(post) {
      if (!this.selectedDateRange || this.selectedDateRange.length !== 2) {
        return true; // Если диапазон не выбран, отображаем все посты
      }

      const [time_start, time_end] = this.selectedDateRange;

      // Преобразуем строки времени в объекты Date для сравнения
      const postPublishedDate = new Date(post.published);
      const startDate = new Date(time_start);
      const endDate = new Date(time_end);

      console.log(postPublishedDate > startDate && postPublishedDate < endDate);

      // Пост должен быть опубликован внутри выбранного временного промежутка
      return postPublishedDate > startDate && postPublishedDate < endDate;
    },

    handlePostSelected(post) {
      console.log('Обработчик события post-selected в NewSidebar:', post);
      this.selectedPost = post;
      this.$emit('post-selected_for_main', this.selectedPost);
    },
  },

  computed: {
    filteredPosts() {
      const filtered = this.posts.map((post) => {
        const titleIncludesSearch = post.title.toLowerCase().includes(this.search.toLowerCase());
        const isWithinRange = this.isPostWithinDateRange(post);
        return isWithinRange && titleIncludesSearch ? post : null;
      });

      console.log('Filtered posts:', filtered);
      return filtered.filter((post) => post !== null);
    },
  },

  async mounted() {
    try {
      await axios.get('admin/all_suggest', {
        withCredentials: true
      }).then(response => {
        this.posts = response.data

      })
    } catch {
      this.$router.push({ name: 'admin' })
    } 
    
    try {
      await axios.get('admin/counts_suggest', {
        withCredentials: true
      }).then(response => {
        this.data_count = response.data

      })
    } catch {
      this.$router.push({ name: 'admin' })
    }       
  }
}

</script>

<style scoped>



.button-sour{
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  background: #35363b;
  justify-content: flex-start;
  align-items: center;
  border-radius:5px;
  flex-wrap: wrap;
  box-shadow: 0 0 6px 1px #fff;

}


.source{
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.number-sugge {
  text-align: center;
  font-weight: 500;
}

.word-sugge {
  font-weight: 600;
}

.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.panel-admin{
    /* background: #222327; */
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    background: #16171B;

}
.header-panel-admin{
    border-radius: 5px;
    margin-top: 50px;
    color: #FFF;
    display: inline-flex;
    padding: 32px 200px;
    align-items: center;
    background: #55565a;
    color: #FFF;
    text-align: center;
    /* font-family: 'Abhaya Libre'; */
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    box-shadow: 0 0 12px 2px #fff;
    /* width:432px; */
}
.main-container{
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    /* gap: 308px; */
    /* align-items: flex-start; */

    justify-content: space-between;
}
.list-results{
    display: flex;
    flex-direction: column;
    height: 580px;
    padding: 5px;
    min-width: 20%;
    background-color: #16171B;

}
.input-filter{
    display: flex;
    height: 37px;
    align-items: center;
    margin-left: 12px;
}
.query_q{
    height: 37px;
    /* padding: 4px 172px 3.134px 13px;
    align-items: center;
    gap: 17.134px;
    width: 100%; */
}
.dp__pointer{
    height: 100px;

}
.one-res{
    background-color: #55565a;
    width: 0%;
}
</style>