<template>
  <div class="calendar">
    <VueDatePicker v-model="date" range>
  </VueDatePicker>
  <button 
  class="but-calendar"
  @click="notifyParent"
  >Найти
  </button>
    
  </div>

</template>

<script>
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'

export default {
  name: 'FromCalendar',
  components: { VueDatePicker },
  emits: ['update:modelValue', 'selected-date-range'],
  data() {
    return {
      date: null,
    };
  },
  methods: {
    notifyParent() {
      // Отправить событие "selected-date-range" с выбранным временным промежутком
      this.$emit('selected-date-range', this.date);
    },
  },
  }
</script>

<style>

.calendar{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.but-calendar:hover{
    background: #ff9900; /* Измените цвет фона на ваш выбор */
    color: #0e0d0d; /* Измените цвет текста на ваш выбор */
}
.dp__input_readonly{
  font-size: 14px;
  display: flex;
}
.dp__pointer{
  height: 25px;
  border-radius: 11px;
  margin-top: 12px;
}
.but-calendar{
  margin-right: 10px;
  margin-top: 5px;
  background-color: #D9D9D9;
  color: black;
}
</style>
<!-- class="dp__pointer dp__input_readonly dp__input dp__input_icon_pad dp__input_reg" -->
<!-- <template>
    <div>
      <Datepicker v-model="date" mode="range" is-range/>
      <p>Дата: {{ date.toJSON() }}</p>
    </div>
</template>
  
<script setup>
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
// import { reactive } from 'vue';
var date = new Date();
// date.expiry.setDate(Number(date.value.getDate())+35)
// console.log(date.value.setDate(Number(date.value.getDate())+35))
// const range = reactive({
//   start: new Date(),
//   end: date.value
// })
</script> -->
<!-- <template>
  <div class="box">
    <section>
      <p>date range</p>
      <date-picker v-model="value1" type="date" range placeholder="Select date range"></date-picker>
    </section>
    <section>
      <p>datetime range</p>
      <date-picker
        v-model="value2"
        type="datetime"
        range
        placeholder="Select datetime range"
      ></date-picker>
    </section>
  </div>
</template>

<script>
// import datepicker from 'date-picker';

export default {
  name: 'RangeVue',
  data() {
    return {
      value1: [new Date(2019, 9, 8), new Date(2019, 9, 19)],
      value2: [],
    };
  },
};
</script> -->

<!-- <template>
  <VueDatePicker v-model="date" range :partial-range="false" />
</template>

<script>
export default {
  name: 'RangeVue',
  data() {
    return {
      value1: [new Date(2019, 9, 8), new Date(2019, 9, 19)],
      value2: [],
    };
  },
};
</script>


<script >
import { ref } from 'vue';

const date = ref();
</script> -->