<template>
    <div class="new-header">
        <div class="row-elements">
            <div class="logo-rzd">
                <img 
                class="logo"
                src="../assets/LogoSVG.svg"
                alt="" 
                >
            </div>
            <div class="name-rzd">Stone RZD</div>
        </div>
    </div>
</template>

<script>

export default {
    name : 'NewHeaderRzd', 

}

</script>

<style>

.new-header{
    height: 52px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.row-elements{
    display: flex;
    align-items: center;
    margin-left: 60px;
    flex-direction: row;
}
.logo{
    height: 40px;
    width: 40px;
}
.name-rzd{
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    margin-left: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    width: 200px;
}

</style>