<template>
    <div class="sidebar-wrap">
        <div class="sidebar-query">
            <input type=""
             class="query"
             placeholder="Ключевые слова"
             v-model="search"
             >
             <FromCalendar @selected-date-range="handleSelectedDateRange" />

        </div>
        <div class="list-results" >
            <div class="one-res" v-for="post in filteredPosts" :key="post.id">
                <PostVue
                :post="post"
                @post-selected="handlePostSelected"
                :selectedPostId="selectedPost ? selectedPost.id : null"
                >
                </PostVue>
            </div>
        </div>
    </div>
        <PostDetalForMain
        v-if="selectedPost"
        :selectedPost="selectedPost"
        @close-post-details="closePostDetails"
        />

</template>

<script>
import FromCalendar from '@/components/FromCalendar.vue';
import PostVue from './PostVue.vue';
import axios from 'axios'
import PostDetalForMain from './PostDetalForMain.vue'; // Импортируйте новый компонент

export default {
    name : 'NewSidebar',
    components: {
        FromCalendar,
        PostVue,
        PostDetalForMain
    },
    emits: ['post-selected_for_main'],

    data(){
        return {
            search: '',
            posts:[
                
            ],
            showDetail: false, 
            selectedPost: null,
            selectedDateRange: null,
            }
        },
        computed: {
            filteredPosts() {
            const filtered = 
                this.posts.map((post) => {
                const titleIncludesSearch = post.title.toLowerCase().includes(this.search.toLowerCase());
                const isWithinRange = this.isPostWithinDateRange(post);
                return isWithinRange && titleIncludesSearch ? post : null;
                })
            ;

            console.log('Filtered posts:', filtered);
            return filtered.filter((post) => post !== null);
            },
        },

    async mounted(){
        try{
        await axios.get('admin/info-all-admin',
        {
            withCredentials: true
        }).then(response =>{
            this.posts = response.data
        })
    }
    catch{
        // this.$router.push({ name: 'admin' })
        console.log(console.error())
    }
    },
    methods: {
    handleSelectedDateRange(dateRange) {
      this.selectedDateRange = dateRange;
      console.log(dateRange);
    },
    isPostWithinDateRange(post) {
      if (!this.selectedDateRange || this.selectedDateRange.length !== 2) {
        return true; // Если диапазон не выбран, отображаем все посты
      }
      const [time_start, time_end] = this.selectedDateRange;

      const postPublishedDate = new Date(post.published);
      const startDate = new Date(time_start);
      const endDate = new Date(time_end);

      console.log(postPublishedDate > startDate && postPublishedDate < endDate);

      return postPublishedDate > startDate && postPublishedDate < endDate;
    },
    
    handlePostSelected(post) {
        console.log('Обработчик события post-selected в NewSidebar:', post);
        this.selectedPost = post;
        this.$emit('post-selected_for_main', this.selectedPost);

    },
    closePostDetails() {
      console.log('Обработчик закрытия в родительском компоненте');
      this.selectedPost = null;
    },
  },
}

</script>


<style >
.sidebar-wrap{
    background-color: #55565a;
    min-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 98ch; */
    /* width: 194px; */  
}
.sidebar-query{
    display: flex;
    flex-direction: column;
    min-width: 310px;
    height: 194px;

}
.query{
    border-radius: 11px;
    background: #D9D9D9;
    height: 42px;
    margin-top: 12px;
}
.query-date{
    height: 25px;
    border-radius: 11px;
    background: #D9D9D9;
}
.row-for-chek-box{
    display: flex;
    flex-direction: row;
}

.head-res{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFF;
}
.list-results{
    /* height: 100%; */
    /* width: 100%; */
    background-color: #222327;
    /* border: 1px solid #C1C1C1; */
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 4px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    height: 70vh;
    padding: 5px;
    min-width: 380px;
    align-content: flex-end;
}
.text-res{
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    /* -webkit-line-clamp: 1; */
    -webkit-box-orient: vertical;
    white-space: normal;
}


</style>