<template>
  <div class="window-post">
    <div class="main-wrap-photo">
      <div class="photo">
        <template v-if="isPhoto(post.photoUrl)">
          <img :src="post.photoUrl" alt="Фото" class="photo-mil" :key="'photo-' + post.id">
        </template>
        <template v-else>
          <video width="350" controls :key="'video-' + post.id">
            <source :src="post.photoUrl" type="video/mp4">
            Ваш браузер не поддерживает видео.
          </video>
        </template>
      </div>
      <div class="data-mil">
        <div class="title-mil">Количество ВВСТ</div>
        <div v-for="(count, vehicle) in post.info_vvst" :key="vehicle" class="name-mil">
          <div class="vehicle-container">
            <div>{{ vehicle }}:</div>
            <div>{{ count }}</div>
          </div>
        </div>
        <div class="wrap-text">
          <div class="text">
            {{ post.title }}
          </div>
        </div>
      </div>
    </div>
    <div class="suplu-info">
      <div class="wrap-coords">
        <div class="coords">{{ post.Latitude }}</div>
        <div class="coords">{{ post.Longitude }}</div>
      </div>
      <div class="wrap-source-date">
        <div class="left-source-data">
          <div class="icon-source">
            <img :src="post.sourceIcon" alt="" class="svg">
          </div>
          <div class="source">
            {{ post.source }}
          </div>
        </div>
        <div class="date">
          {{ post.published }}
        </div>
      </div>
    </div>
    <div class="crud-wrap">
      <div class="button-accept btn" @click="Add_to_all_post">
        Принять
      </div>
      <div class="button-decline btn" @click="DeletePost">
        Отклонить
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  props: ['post'],

  methods: {
    async Add_to_all_post() {
      const id_suggest = this.post.id;
      const source = this.post.source


      try {
        await axios.put(`admin/accept_suggest/${source}/${id_suggest}`, {
          withCredentials: true,
        }).then(response => {
          this.posts = response.data;
          this.$emit('delete-post', this.post.id);
        });
      } catch {
        console.log('Error');
      }
    },

    async DeletePost() {
      const id_suggest = this.post.id;
      const source = this.post.source
      try {
        await axios.delete(`admin/delete_suggest/${source}/${id_suggest}`, {
          withCredentials: true,
        }).then(response => {
          this.posts = response.data;
          this.$emit('delete-post', this.post.id);
        });
      } catch {
        console.log('Error');
      }
    },

    isPhoto(url) {
      const fileExtension = url.toLowerCase().match(/\.(?:jpg|jpeg|png)(?=\?|$)/);
      return fileExtension !== null;
    }
  }
}
</script>

<style>
.window-post {
  display: flex;
  flex-direction: column;
  background: #55565a;
  height: 100%;
  opacity: 0.9;
  border-radius: 10px;
  width: 750px;
  padding: 20px;
}

.name-mil {
  color: #ffffff;
  width: 100%;
  text-align: center;
  font-size: 26px;
  gap: 5px;
  flex-direction: row;
  font-weight: 500;

}

.video-mil {
  width: 50%;
  height: 50%;
  border-radius: 15px;
}

.main-wrap-photo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.data-mil {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.title-mil {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: #ffbf7a;
  /* Оранжевый цвет текста */
}

.vehicle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.photo {
  height: 100%;
  width: 350px;
  border-radius: 15px;
}

.photo-mil {
  width: inherit;
  /* height: 320px; */
  border-radius: 15px;
  object-fit: cover;
}

.wrap-text {
  display: flex;
  margin-top: 15px;
  justify-content: center;
}

.text {
  padding: 0 15px;
  font-size: 20px;
  width: 100%;
  color: #ffffff;
  /* Белый цвет текста */
}

.suplu-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.wrap-coords {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.coords {
  font-size: 20px;
  color: #ffffff;
}

.wrap-source-date {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

.svg {
  width: 32px;
  height: 32px;
}

.left-source-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.source {
  font-size: 20px;
  color: #ffffff;
}

.date {
  font-size: 20px;
  color: #ffffff;
}

.crud-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 20px;
}

.btn {
  font-size: 18px;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 0 4px 1px transparent;
  transition: background-color 0.3s ease, box-shadow .3s ease;
}

.button-accept {
  background-color: rgb(47, 199, 47);

}

.button-accept:hover {
  box-shadow: 0 0 4px 1px rgb(85, 243, 85);

}

.button-decline {
  background-color: #df3737;
  color: #eee;
}


.button-decline:hover {
  box-shadow: 0 0 4px 1px #ff6868;

}
</style>