<template>
  <div class="post-details-wrapper" v-if="selectedPost">
    <div class="window-post">
    <div class="main-wrap-photo">
      <div class="photo">
        <template v-if="isPhoto(selectedPost.photoUrl)">
          <img :src="selectedPost.photoUrl" alt="Фото" class="photo-mil" :key="'photo-' + selectedPost.id">
        </template>
        <template v-else>
          <video autoplay="autoplay" width="350" controls :key="'video-' + selectedPost.id">
            <source :src="selectedPost.photoUrl" type="video/mp4">
            Ваш браузер не поддерживает видео.
          </video>
        </template>
      </div>
      <div class="data-mil">
        <div class="title-mil">Количество ВВСТ</div>
        <div v-for="(count, vehicle) in selectedPost.info_vvst" :key="vehicle" class="name-mil">
          <div class="vehicle-container">
            <div>{{ vehicle }}:</div>
            <div>{{ count }}</div>
          </div>
        </div>
        <div class="wrap-text">
          <div class="text">
            {{ selectedPost.title }}
          </div>
        </div>
      </div>
    </div>
    <div class="suplu-info">
      <div class="wrap-coords">
        <div class="coords">{{ selectedPost.Latitude }}</div>
        <div class="coords">{{ selectedPost.Longitude }}</div>
      </div>
      <div class="wrap-source-date">
        <div class="left-source-data">
          <div class="icon-source">
            <img :src="selectedPost.sourceIcon" alt="" class="svg">
          </div>
          <div class="source">
            {{ selectedPost.source }}
          </div>
        </div>
        <div class="date">
          {{ selectedPost.published }}
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  props: {
    selectedPost: {
      type: Object,
      required: true,
    },
  },
  methods: {
    closePostDetails() {
      console.log('Событие закрытия');
      this.$emit('close-post-details');
    },
    isPhoto(url) {
      const fileExtension = url.toLowerCase().match(/\.(?:jpg|jpeg|png)(?=\?|$)/);
      return fileExtension !== null;
    }
  }
}
</script>

<style scoped>
.post-details-wrapper {
  position: fixed;
  top: 50%;
  /* right: 10%; */
  transform: translate(100%, -50%);
  background-color: rgb(41, 34, 34);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  border-radius: 10px;
  z-index: 1000;
  /* Чтобы быть поверх других элементов */
}

.close-button {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #fff;
  /* Цвет фона кнопки */
  border: 1px solid #000;
  /* Обводка кнопки */
  background-color: rgb(189, 162, 162);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  border-radius: 10px;
  padding: 5px 10px;
  /* Внутренний отступ кнопки */
  cursor: pointer;
  border-radius: 5px;
  z-index: 1001;
  /* Убедитесь, что кнопка находится над вашим post-details-wrapper */
}

.close-button:hover {
  background: #ff9900;
  /* Измените цвет фона на ваш выбор */
  color: #0e0d0d;
  /* Измените цвет текста на ваш выбор */
}
</style>