<template>
  <div class="window-post">
    <div class="main-wrap-photo">
      <div class="photo">
        <template v-if="isPhoto(post.photoUrl)">
          <img :src="post.photoUrl" alt="Фото" class="photo-mil" :key="'photo-' + post.id">
        </template>
        <template v-else>
          <video width="350" controls :key="'video-' + post.id">
            <source :src="post.photoUrl" type="video/mp4">
            Ваш браузер не поддерживает видео.
          </video>
        </template>
      </div>
      <div class="data-mil">
        <div class="title-mil">
          Количество ВВСТ
        </div>

        <div v-for="(count, vehicle) in post.info_vvst" :key="vehicle" class="name-mil">

          <div class="vehicle-container">
            <div>{{ vehicle }}:</div>
            <div>{{ count }}</div>
          </div>

        </div>

        <div class="wrap-text">
          <div class="text">
            {{ post.title }}
          </div>
        </div>
      </div>
    </div>
    <div class="suplu-info">
      <div class="wrap-coords">
        <div class="coords">{{ post.Latitude }}</div>
        <div class="coords">{{ post.Longitude }}</div>
      </div>
      <div class="wrap-source-date">
        <div class="left-source-data">
          <div class="icon-source">
            <img :src="post.sourceIcon" alt="" class="svg">
          </div>
          <div class="source">
            {{ post.source }}
          </div>
        </div>
        <div class="date">
          {{ post.published }}
        </div>
      </div>
    </div>
    <div class="crud-wrap">
      <div class="button-accept btn" @click="RediredctToEditPost">
        Изменить
      </div>
      <div class="button-decline btn" @click="DeletePost">
        Удалить
      </div>
    </div>
  </div>
</template>



<script>
import axios from 'axios';
export default {
  props: [
    'post'
  ],
  methods: {
    async RediredctToEditPost() {
      const id = this.post.id;
      this.$router.push({ name: 'eddit-post', params: { id } })
    },
    isPhoto(url) {
      const fileExtension = url.toLowerCase().match(/\.(?:jpg|jpeg|png)(?=\?|$)/);
      return fileExtension !== null;
    },
    async DeletePost() {
      const id = this.post.id;
      try {
        await axios.delete(`admin/DeletePost/${id}`,
          { withCredentials: true }
        )
        this.$emit('delete-post', this.post.id);
      }
      catch {
        console.log('Ошибка')
      }
    }
  }
}
</script>



<style>
.window-post {
  display: flex;
  flex-direction: column;
  background: #55565a;
  height: 100%;
  opacity: 0.9;
  border-radius: 10px;
  width: 750px;
  padding: 20px;
}

/* .name-mil{
  color: #ffffff;
  font-size: 26px;
  display: flex;
  gap: 5px;
  flex-direction: row;

} */
/* .main-wrap-photo {
  display: flex;
  flex-direction: row;
  gap: 20px;
} */

/* .data-mil {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: flex-start;
    justify-content: flex-start;
} */



/* .photo {
  height: 100%;
  border-radius: 15px;
}

.photo-mil {
  width: 480px;
  height: 320px;
  border-radius: 15px;
  object-fit: cover;
} */

.wrap-text {
  display: flex;
  margin-top: 15px;
  justify-content: center;
}



.suplu-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.wrap-coords {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.coords {
  font-size: 20px;
  color: #ffffff;
}

.wrap-source-date {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

.svg {
  width: 32px;
  height: 32px;
}

.left-source-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.source {
  font-size: 20px;
  color: #ffffff;
}

.date {
  font-size: 20px;
  color: #ffffff;
}

.crud-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 20px;
}

.button-edit {
  font-size: 18px;
  background-color: #ff9900;
  color: #0e0d0d;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-edit:hover {
  background-color: #e68a00;
  color: white;
}
</style>