<template>
    <div class="post-wrapper" @click="showPostDetails">
      <div class="one-res-component" :class="{ 'selected': isSelected }" @click="showPostDetails">
        <div class="head-res">
          <div class="source-res">{{ post.source }}</div>
          <div class="date-res">{{ post.published }}</div>
        </div>
        <div class="box-text">
          <div class="text-res">{{ post.title }}</div>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  export default {
    props: {
      post: {
        type: Object,
        required: true,
      },
      selectedPostId: {
        type: Number,
        required: true,
      },
    },
    emits: ['post-selected'],
  
    computed: {
      isSelected() {
        return this.post.id === this.selectedPostId;
      },
    },
  
    methods: {
      async showPostDetails() {
        this.$emit('post-selected', this.post);
      },
    },
  };
</script>

<style>
/* .one-res-component:hover {
  background: #ff9900;
  color: #0e0d0d;
} */

.post-wrapper {
  padding: 4px 0;
}

.one-res-component{
  padding: 6px;
    width: 354px;
    height: 78px;
    /* border-bottom: 1px solid #000; */
    display: grid;
    border-radius: 5px;
    background: #55565a;
    cursor: pointer;
    color: #ccd899;
    box-shadow: 0 0 6px 2px #0e0d0d;
    transition: background .3s ease, box-shadow .3s ease, color .3s ease;
}
.one-res-component:hover{
    background: #ff9900; /* Измените цвет фона на ваш выбор */
    color: #2a2222; /* Измените цвет текста на ваш выбор */
    box-shadow: 0 0 6px 2px #807070;

}
.one-res-component.selected {
  background: #d03d3d;
  color: #eee;
}

.head-res{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #995858;
}
.source-res{
    margin-left: 5px;
    font-weight: 600;
}
.date-res{
    margin-right: 5px;
    font-weight: 500;
}

.text-res{
    margin-left: 5px;
    font-size: 16px;
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}
</style>
