<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Stone RZD">
    <meta property="og:url" content="http://rzdstone.ru">
    <meta property="og:image" content="<%= BASE_URL %>preview.jpeg">
    <meta property="og:locale" content="ru_RU">
    <meta name="description" content="Найдётся всё">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">    
    <link rel="icon" href="<%= BASE_URL %>1042307.ico">
    <title>Stone RZD</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
